# =========================
# Global / Sistema
# =========================
.DS_Store
Thumbs.db
__pycache__/
*.log
.env
.vscode/
.idea/

# =========================
# Backend (Flask / Python)
# =========================
backend/venv/
backend/__pycache__/
backend/instance/
backend/migrations/versions/__pycache__/
backend/migrations/versions/*.pyc
*.pyc

# =========================
# Frontend (Angular)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.angular/
frontend/.npm/
frontend/.env
frontend/tmp/
frontend/out-tsc/
frontend/.DS_Store
